﻿@{
    ViewBag.Title = "ChangePasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_fullsize">

    <span id="Login_content_title">Thay đổi mật khẩu thành công</span>
</div>
