﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LengKeng.Models.ChangePasswordModel

<div id="content_fullsize">
    <span id="Login_content_title">Thay đổi mật khẩu</span>

    @using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post))
    {
       @Html.AntiForgeryToken();
    @Html.ValidationSummary("Mật khẩu không đúng")

    <div class="Register_row">
        <div class="Register_row_left">
            <label class="lblstyle">Mật khẩu cũ: </label>
        </div>
        <div class="Register_row_right">

            @Html.PasswordFor(model => model.OldPassword, new { @class = "txtstyle" })


            @Html.ValidationMessageFor(model => model.OldPassword)


        </div>
    </div>
    <div class="Register_row">
        <div class="Register_row_left">
            <label class="lblstyle">Mật khẩu mới: </label>
        </div>
        <div class="Register_row_right">
            <div>
                @Html.PasswordFor(model => model.NewPassword, new { @class = "txtstyle" })
            </div>

            <div align="center">
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>

        </div>
    </div>
    <div class="Register_row">
        <div class="Register_row_left">
            <label class="lblstyle">Nhập lại: </label>
        </div>
        <div class="Register_row_right">
            <div>
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "txtstyle" })
            </div>

            <div align="center">
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

        </div>
    </div>


        <input class="btnstyle" id="btnSubmitRecoveryPass" type="submit" value="Thay đổi" name="btnLogin">
    }
        
     

</div>
 <style type="text/css">
    /* Styles for validation helpers*/
    .field-validation-error {
        color: red;
    }

    .field-validation-valid {
        display: none;
        text-align: center;
    }

    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }

    .validation-summary-errors {
        font-weight: bold !important;
        color: red !important;
        text-align: center;
        font-size: 16px;
    }

    .validation-summary-valid {
        display: none;
    }
</style>