﻿@{
    ViewBag.Title = "DetailAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LengKeng.Models.ProfileUserModel
@using LengKeng.Models
@using LengKeng.Code
@{
    
    ProfileUserModel acc = (ProfileUserModel)ViewData["acc"];
    String admin;
}

<div id="content_fullsize">
    <span id="Login_content_title">Thông tin tài khoản</span>
    <div id="Register_content_border">
        @using (Html.BeginForm("updateAccount", "Accounts", FormMethod.Post))
        {

            <span class="Register_label_information">Thông tin đăng nhập</span>
            <div class="Register_row_bottom"></div>

            <div class="Register_row">
                <div class="Register_row_left">

                    <label class="lblstyle">Tên đăng nhập :</label>
                </div>
                <div class="Register_row_right">
                    <label class="lblaccount">@acc.username</label>

                </div>
            </div>
           
                
            

            <span class="Register_label_information">Thông tin cá nhân</span>
            <div class="Register_row_bottom"></div>

            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Họ và Tên:</label>
                </div>
                <div class="Register_row_right">
                    <label class="lblaccount">@acc.fullname</label>

                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Giới tính:</label>
                </div>
                <div class="Register_row_right">
                    <label class="lblaccount">@acc.sex</label>


                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Email:</label>
                </div>
                <div class="Register_row_right">
                    <label class="lblaccount">@acc.email</label>
                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Số điện thoại:</label>
                </div>
                <div class="Register_row_right">
                    <label class="lblaccount">@acc.phonenumber</label>

                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Ngày sinh:</label>
                </div>
                <div class="Register_row_right">
                    <label class="lblaccount">@acc.bday</label>
                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Địa chỉ:</label>
                </div>
                <div class="Register_row_right">
                    <label class="lblaccount">@acc.address</label>
                </div>
            </div>

            <div>
                <input class="btnstyle" id="btnDoneUpdate" type="submit" value="Cập nhật" name="btnDoneUpdate">
            </div>
            
        }
    </div>

</div>
