﻿@{
    ViewBag.Title = "DetailHistoryCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using LengKeng.Models





<div id="content_fullsize">
    <span id="cart_content_title">Chi tiết hoá đơn</span>

    <div id="cart_content_cart_table">
        <div id="cart_content_titlebar">
            <span id="cart_content_titlebar_pname">Sản phẩm</span>
            <span id="cart_content_titlebar_psavor">Mùi vị</span>
            <span id="cart_content_titlebar_pprice">Đơn giá</span>
            <span id="cart_content_titlebar_pamount">Số lượng</span>
            <span id="cart_content_titlebar_ptotalprice">Thành tiền</span>

        </div>
        @{
            List<BILLDETAIL> listbilldetail = (List<BILLDETAIL>)ViewData["bill"];
            int total = 0;
            foreach (var item in listbilldetail)
            {

                <div class="cart_content_row">
                    <div class="cart_content_row_pname">
                        <img src="@Url.Content(item.PRODUCTS.PIMG)" alt="@item.PRODUCTS.PNAME">
                        <div class="cart_content_row_pname_name">@item.PRODUCTS.PNAME</div>
                    </div>
                    <div class="cart_content_row_psavor">
                        <p>@item.PRODUCTS.PSAVOUR</p>
                    </div>

                    <div class="cart_content_row_pprice">
                        <p>@item.PRODUCTS.PCOST Vnđ</p>

                    </div>
                    <div class="cart_content_row_pamount">
                        <p>@item.AMOUNT</p>
                    </div>

                    <div class="cart_content_row_ptotalprice">
                        @{
                string price = (item.AMOUNT * @item.PRODUCTS.PCOST).ToString();
                <p>@price</p>
                total += Int32.Parse(price);
                        }
                    </div>

                </div>
            }
        }
       



    </div>

    <div id="cart_content_total">
        <span id="cart_content_total_title">Tổng giá:</span>
        <span id="cart_content_total_price">@total</span>
    </div>


</div>

<script type="text/javascript">

</script>
