﻿@{
    ViewBag.Title = "HistoryCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using LengKeng.Models

@{

    string username = LengKeng.Code.SessionHelper.getSesstion().UserName;

}

<div id="content_fullsize">
    <span id="Login_content_title">Lịch sử mua hàng</span>
    <div id="Register_content_border">


        <span class="Register_label_information">Thông tin đăng nhập</span>
        <div class="Register_row_bottom"></div>

        <div class="Register_row">
            <div class="Register_row_left">

                <label class="lblstyle">Tên đăng nhập :</label>
            </div>
            <div class="Register_row_right">
                <label class="lblaccount">@username</label>

            </div>
        </div>



        <span class="Register_label_information">Lịch sử mua hàng</span>
        <div class="Register_row_bottom"></div>
        @{
            List<BILL> listbill = ViewData["listBill"] as List<BILL>;
            listbill.Reverse();
            foreach (BILL temp in listbill)
            {
                <div class="his_cart">
                    @Html.ActionLink(temp.BDATECREATE.ToString(), "detailHistoryBill/" + temp.BID, "Accounts")
                </div>
            }
        }

    </div>

</div>


