﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LengKeng.Models.LoginModel


<div id="content_fullsize">
    <span id="Login_content_title">Đăng nhập</span>
    <div id="Register_content_border">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true, "Username hoặc Password không đúng")

            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Tên đăng nhập: </label>
                </div>
                <div class="Register_row_right">
                    
                        @Html.TextBoxFor(model => model.UserName, new { @class = "txtstyle" })
                    
                    
                        @Html.ValidationMessageFor(model => model.UserName)
                    
                    
                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Mật khẩu: </label>
                </div>
                <div class="Register_row_right">
                   <div>
                       @Html.PasswordFor(model => model.Password, new { @class = "txtstyle"})
                   </div>
                        
                    <div align="center">
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    
                </div>
            </div>




            @*<div class="checkboxRememberLogin">
                    <input type="checkbox" id="chbxsearchLogin" name="RememberLogin" value="true">
                    <label for="chbxsearchLogin"></label>
                </div>
                <label id="lblRememberLogin">Duy trì đăng nhập</label>*@

            <input class="btnstyle" id="btnLogin" type="submit" value="Đăng nhập" name="btnLogin">
            <br>
            <div id="recovery_password">
                <a href="@Url.Action("RecoverPassword", "Accounts")">Quên mật khẩu</a>
            </div>

        }

        <div class="fb-login-button" id="btnLogin"  scope="public_profile,email" onlogin="checkLoginState();" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
    </div>
       
    <div id="status">
    </div>
</div>


<style type="text/css">
    /* Styles for validation helpers*/
    .field-validation-error {
        color: red;
        
    }

    .field-validation-valid {
        display: none;
        text-align: center;
    }

    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
        
    }

    .validation-summary-errors {
        font-weight: bold !important;
        color: red !important;
        text-align: center;
        font-size: 16px;
    }

    .validation-summary-valid {
        display: none;
        
    }
</style>

<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            
            FB.api('/me', { fields: 'email' }, function (response) {

               
                var email = response.email;
                 


                 $.ajax({
                     url: '@Url.Action("LoginBySocial", "Accounts")',
                     type: 'POST',

                     // we set cache: false because GET requests are often cached by browsers
                     // IE is particularly aggressive in that respect
                     cache: false,
                     data: {email: email},
                     success: function (data) {

                        
                         window.location = data;

                     },
                     error: function () {
                         alert('Đã xảy ra lỗi trong quá trình đăng nhập bằng Facebook. Thử lại sau');

                     }
                 });
            });
            // Logged into your app and Facebook.
            
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
              'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
              'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });


    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1393036270995368',
            cookie: true,  // enable cookies to allow the server to access
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.5' // use version 2.2
        });

    };

    // Load the SDK asynchronously
   (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=1393036270995368";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.

</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->


