﻿@{
    ViewBag.Title = "ManageAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LengKeng.Models
@using LengKeng.Code
<div id="content_fullsize">
    <span id="cart_content_title">Quản lý tài khoản người dùng</span>

    <div id="table_customers" align="center">
        <table>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Quyền</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th colspan="2">Chức năng</th>

            </tr>
            @{
                int i = 0;
                UserSession user = SessionHelper.getSesstion();
            }

            @foreach (ACCOUNTS acc in (List<ACCOUNTS>)ViewData["ListAccounts"])
            {

                <tr>
                    <td>@i</td>
                    <td class="textBold_table"> @acc.USERNAME </td>
                    @if (acc.ADMIN == 1)
                    {
                        <td>
                            Admin
                        </td>
                    }
                    else
                    {
                        <td>
                            User
                        </td>
                    }
                    <td>@acc.FULLNAME </td>
                    <td>@acc.EMAIL </td>
                    <td>@acc.PHONENUMBER</td>
                    <td>@Html.ActionLink("Chi tiết", "detailAccount/" + acc.USERNAME, "Accounts")</td>
                    @if (user.UserName != acc.USERNAME)
                    {
                        <td>@Html.ActionLink("Xoá", "deleteAccount/" + acc.USERNAME, "Accounts", new { onclick = "return confirm('Bạn có chắc muốn xoà tài khoản này?')" })</td>
                    }
                        
                </tr>
                    i += 1;
            }

            <tr>
                <td>@Html.ActionLink("+", "registerAccount", "Accounts")</td>
            </tr>
        </table>
    </div>

</div>