﻿@{
    ViewBag.Title = "ManageBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using LengKeng.Models
<div id="content_fullsize">
    <span id="cart_content_title">Quản lý đơn đặt hàng</span>

    <div id="table_customers" align="center">
        <table>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Ngày tạo</th>
                <th>Tổng giá</th>
                <th>Tình trạng</th>
                <th >Chức năng</th>

            </tr>
            @{
                int i = 0;
              
            }

            @foreach (BILL bill in (List<BILL>)ViewData["listbill"])
            {

                <tr>
                    <td>@i</td>
                    <td class="textBold_table"> @bill.USERNAME </td>
                   
                    <td>@Html.ActionLink(@bill.BDATECREATE.ToString(), "detailHistoryBill/" + bill.BID, "Accounts")</td>
                    <td>@bill.BTOTAL </td>
                    <td>@bill.BSTATUS </td>
                    @if (@bill.BSTATUS == "Chưa thanh toán")
                    {
                        <td>@Html.ActionLink("Xác nhận", "confirmPay/" + bill.BID, "Accounts")</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    
                    

                </tr>
                    i += 1;
            }

           
        </table>
    </div>

</div>
