﻿@{
    ViewBag.Title = "RecoverPasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_fullsize">

    <span id="Login_content_title">Mật khẩu mới đã được gửi về email</span>
</div>
