﻿@{
    ViewBag.Title = "RecoverPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LengKeng.Models.ResetPasswordModel

<div id="content_fullsize">
    <span id="Login_content_title">Thay đổi mật khẩu</span>

    @using (Html.BeginForm("RecoverPassword", "Accounts", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary("Tên đăng nhập không tồn tại")

        <div class="Register_row">
            <div class="Register_row_left">
                <label class="lblstyle">Tên đăng nhập: </label>
            </div>
            <div class="Register_row_right">

                @Html.TextBoxFor(model => model.UserName, new { @class = "txtstyle" })


                @Html.ValidationMessageFor(model => model.UserName)


            </div>
        </div>
        


        <input class="btnstyle" id="btnSubmitRecoveryPass" type="submit" value="Thay đổi" name="btnLogin">
    }



</div>
<style type="text/css">
    /* Styles for validation helpers*/
    .field-validation-error {
        color: red;
    }

    .field-validation-valid {
        display: none;
        text-align: center;
    }

    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }

    .validation-summary-errors {
        font-weight: bold !important;
        color: red !important;
        text-align: center;
        font-size: 16px;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
