﻿@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="content_fullsize">
    <div id="_cart">@{Html.RenderAction("Cart", "Accounts");}</div>
    

    <div id="cart_content_btnPay">

        <button class="btnstyle" id="btnPay" type="submit" onclick="window.location.href='@Url.Action("payCart", "Accounts")'">Đặt mua</button>
        <button class="btnstyle" id="btnContinue" type="button" onclick="window.location.href='@Url.Action("Index","Home")'">Mua tiếp</button>
        
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".shoppingCart").hide();
    });

    function updateCart(id) {
        var quantity = $("#item_" + id).val();
        $.ajax({
            url: '@Url.Action("updateCartItem", "Accounts")',
            type: 'GET',

            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: { id: id, quantity: quantity },
            success: function (data) {

                $("#_cart").html(data);

            },
            error: function () {
                alert('đã có lỗi xảy ra. Vui lòng thử lại sau.');

            }
        });
    }

    function deleteItemCart(id) {
        var resultConfirm = confirm("Bạn có chắc muốn xoá món này ra khỏi giỏ?");
        if (resultConfirm) {
            $.ajax({
                url: '@Url.Action("deleteProductFromCart", "Accounts")',
                type: 'GET',

                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { id: id },
                success: function (data) {

                    $("#_cart").html(data);

                },
                error: function () {
                    alert('đã có lỗi xảy ra. Vui lòng thử lại sau.');

                }
            });
        }
    }
</script>
