﻿@{
    ViewBag.Title = "SupportUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LengKeng.Models.SupportModel
<div id="content_fullsize">
    <span id="cart_content_title">Góp ý - Yêu cầu - Báo lỗi</span>
    @using (Html.BeginForm("sendSupport", "Accounts", FormMethod.Post))
    {
        <div id="Support_boder">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="Register_row">
                <div class="Support_row_left">
                    <label class="lblstyle">Tiêu đề:</label>
                </div>
                <div class="Register_row_right">
                    <div>
                        @Html.TextBoxFor(m => m.STITEL, new { @class = "txtSupport" })
                    </div>
                    <div align="center">
                        @Html.ValidationMessageFor(model => model.STITEL)
                    </div>
                    

                </div>
            </div>

            <div class="Register_row">
                <div class="Support_row_left">
                    <label class="lblstyle">Nội dung:</label>
                </div>
                <div class="Register_row_right">
                    <div>
                        @Html.TextAreaFor(m => m.SCONTENT, new { @class = "txtArea" })
                    </div>
                    <div align="center">
                        @Html.ValidationMessageFor(model => model.SCONTENT)
                    </div>
                </div>
            </div>

            <input class="btnstyle" id="btnSubmit" type="submit" value="Gửi" name="btnSubmit">
        </div>
    }


</div>


<style type="text/css">
    /* Styles for validation helpers*/
    .field-validation-error {
        color: red;
    }

    .field-validation-valid {
        display: none;
        text-align: center;
    }

    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }

    .validation-summary-errors {
        font-weight: bold !important;
        color: red !important;
        text-align: center;
        font-size: 16px;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
