﻿@{
    ViewBag.Title = "UpdateAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LengKeng.Models.ProfileUserModel
@using LengKeng.Code

<div id="content_fullsize">
    <span id="Login_content_title">Cập nhật tài khoản</span>
    <div id="Register_content_border">
        @using (Html.BeginForm("processUpdateAccount", "Accounts", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true, "Vui lòng điền đầy đủ thông tin")
            <span class="Register_label_information">Thông tin đăng nhập</span>
            <div class="Register_row_bottom"></div>

            <div class="Register_row">
                <div class="Register_row_left">

                    <label class="lblstyle">Tên đăng nhập: </label>
                </div>
                <div class="Register_row_right">
                    
                    @Html.TextBoxFor(model => model.username, new { @class = "txtstyle", @readonly = true })
                    @Html.HiddenFor(m=>m.password)
                    @Html.HiddenFor(m=>m.passwordRetyped)
                </div>
            </div>
            
                
            
            

            <span class="Register_label_information">Thông tin cá nhân</span>
            <div class="Register_row_bottom"></div>

            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Họ và Tên:</label>
                </div>
                <div class="Register_row_right">
                    <div>
                        @Html.TextBoxFor(model => model.fullname, new { @class = "txtstyle" })

                        <span class="redstar">*</span>
                    </div>
                    <div align="center">
                        @Html.ValidationMessageFor(model => model.fullname)
                    </div>
                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Giới tính:</label>
                </div>
                <div class="Register_row_right">
                    <div>
                        @Html.DropDownListFor(m => m.sex, Model.getSex(), null, new { @class = "txtstyle" })

                        <span class="redstar">*</span>
                    </div>
                    <div align="center">
                        @Html.ValidationMessageFor(model => model.sex)
                    </div>
                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Email:</label>
                </div>
                <div class="Register_row_right">
                    <div>
                        @Html.TextBoxFor(model => model.email, new { @class = "txtstyle" })

                        <span class="redstar">*</span>
                    </div>
                    <div align="center">
                        @Html.ValidationMessageFor(model => model.email)
                    </div>
                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Số điện thoại:</label>
                </div>
                <div class="Register_row_right">
                    <div>
                        @Html.TextBoxFor(model => model.phonenumber, new { @class = "txtstyle" })

                        <span class="redstar">*</span>
                    </div>
                    <div align="center">
                        @Html.ValidationMessageFor(model => model.phonenumber)
                    </div>
                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Ngày sinh:</label>
                </div>
                <div class="Register_row_right">
                    @Html.TextBoxFor(model => model.bday, new { @class = "txtstyle" })
                </div>
            </div>
            <div class="Register_row">
                <div class="Register_row_left">
                    <label class="lblstyle">Địa chỉ:</label>
                </div>
                <div class="Register_row_right">
                    @Html.TextBoxFor(model => model.address, new { @class = "txtstyle" })
                </div>


                <input class="btnstyle" id="btnDoneUpdate" type="submit" value="Cập nhật" name="btnDoneUpdate" onclick="return confirm('Bạn có chắc muốn cập nhật tài khoản này?')">
            </div>
        }

    </div>
    <span id="InformationRegister">Dấu * là phần bắt buộc</span>

</div>

<style type="text/css">
    /* Styles for validation helpers*/
    .field-validation-error {
        color: red;
        
    }

    .field-validation-valid {
        display: none;
        text-align: center;
    }

    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }

    .validation-summary-errors {
        font-weight: bold !important;
        color: red !important;
        text-align:center;
        font-size:16px;
    }

    .validation-summary-valid {
        display:none;
    }
</style>

