/* xanh:8bcfb1
xanh dam:008080
do:f37567
vang:f6d294
vang dam:CD853F
cham cham:dotted
mau chu:191970
 */




body {
    margin: 0px;
    padding: 0px;
    background: #FFF;
    font-size: 12px;
    font-family: Time new roman;
}

#out_source {
    padding-bottom: 45px;
}

#header_top {
    position: fixed;
    background: #8bcfb1;
    width: 100%;
    z-index: 101;
}

#in_left {
    width: 50%;
    background: #8bcfb1;
    float: left;
}

ul {
    list-style: none;
}

    ul .nav {
        background: #8bcfb1;
    }

    ul li a {
        text-decoration: none;
        padding: 0px 10px 10px 10px;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        color: #fff;
    }

        ul li a:hover {
            text-decoration: underline;
        }

    ul li {
        float: right;
        position: relative;
        color: #fff;
    }

        ul li ul {
            display: none;
        }

            ul li ul li {
                width: 100%;
            }

                ul li ul li a {
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    padding: 8px;
                    color: #191970;
                }

                    ul li ul li a:hover {
                        color: #008080;
                        /* text-decoration:underline; */
                    }

        ul li:hover ul {
            white-space: nowrap;
            display: block;
            position: absolute;
            top: 26px;
            color: #191970;
            background: #f6d294;
            text-align: left;
            padding: 0px;
            margin-right: 1px;
        }

#in_right_ {
    width: 50%;
    background: #8bcfb1;
    float: left;
    text-align: left;
}

#in_right {
    width: 50%;
    background: #8bcfb1;
    float: right;
    text-align: right;
}

    #in_right a {
        float: right;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        padding-right: 10px;
        color: #fff;
        font-weight: bold;
    }

#slash {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: #fff;
}



#in_right a:hover {
    text-decoration: underline;
}

#header_logo {
    position: fixed;
    left: 50%;
    margin-left: -55px;
    z-index: 999;
}



#source {
    clear: both;
    text-align: left;
    width: 800px;
    margin: auto;
    background: #FFF;
    color: #191970;
}

#header {
    clear: both;
    padding: auto;
    margin: auto;
    background: #FFF;
}

#header_center {
    clear: both;
    padding: auto;
    margin: auto;
    background: #FFF;
    width: 800px;
    height: 200px;
}

#on_center {
    clear: both;
    height: 300px;
    width: 800px;
}

    #on_center a img {
        height: 250px;
        width: 800px;
    }

#header_logo a img {
    height: 75px;
    width: 100px;
}

#on_bottom {
    margin-top: 5px;
    border-top: 5px solid #8bcfb1;
}


.header_menu a {
    font-size: 14px;
    padding: 12px;
    display: block;
}


    .header_menu a:hover {
        background: #8bcfb1;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }

.header_menu {
    font-weight: bold;
    float: left;
    text-align: center;
    width: 200px;
    background: #f6d294;
    font-size: 14px;
    color: #191970;
}

#content {
    width: 570px;
    float: right;
    padding: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 420px;
    border: 2px solid #CD853F;
    border-radius: 5px 5px;
}

#content_fullsize {
    width: 800px;
    padding: 0px;
    float: left;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100px;
    border: 2px solid #CD853F;
    border-radius: 5px 5px;
}

#Login_content_title {
    font-size: 40px;
    font-weight: bold;
    color: #008080;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.index_content_box {
    float: left;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    border-top: 2px dotted #8bcfb1;
}

    .index_content_box img {
        margin-top: 10px;
        width: 275px;
        height: 275px;
    }

    .index_content_box .index_content_pname {
        margin-top: 15px;
        font-size: 16px;
        color: #f37567;
        font-weight: bold;
    }

    .index_content_box .index_content_pprice {
        margin-top: 2px;
        color: #008080;
    }

    .index_content_box .index_content_pdecription {
        margin: 10px;
        text-align: left;
        color: #CD853F;
    }

    .index_content_box .index_content_pdetail a {
        /* text-align:right; */
        margin-right: 20px;
        font-size: 12px;
        display: block;
        border-radius: 7px 7px;
        padding: 2px;
        float: right;
    }

        .index_content_box .index_content_pdetail a:hover {
            /* text-decoration: underline; */
            background-color: #8bcfb1;
        }

    .index_content_box .index_content_addtocart {
        float: left;
        display: block;
        margin-top: -15px;
        margin-left: 10px;
    }

        .index_content_box .index_content_addtocart img {
            width: 20px;
            height: 20px;
        }



#index_content_title {
    display: inline-block;
    width: 93%;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
    color: #20B2AA;
    /* border-bottom: 3px dotted #8bcfb1; */
}

#detail_content_left {
    width: 280px;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}

    #detail_content_left img {
        width: 275px;
        height: 275px;
    }

#detail_content_right {
    width: 280px;
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}

#detail_content_pname {
    color: #f37567;
    font-weight: bold;
    font-size: 16px;
}

#detail_content_pprice {
    color: #008080;
    font-weight: bold;
    font-size: 16px;
}

.detail_content_row_info {
    clear: both;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.detail_content_label {
    width: 100px;
    float: left;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
    color: #CD853F;
}

    .detail_content_label img {
        width: 35px;
        height: 35px;
    }

.detail_content_info {
    width: 170px;
    float: right;
    text-align: left;
}

#detail_pay_AddToCad {
    clear: both;
    margin-top: 30px;
    float: right;
    width: 280px;
}

.detail_content_icon {
    float: left;
    margin-left: 23%;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.detail_row_pay {
    clear: both;
    margin-bottom: 5px;

}

.detail_content_icon img {
    width: 35px;
    height: 35px;
}


.pay_cart {
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 18px;
    /* font-weight:bold; */
}



#detail_content_bottom {
    clear: both;
    margin: 15px;
    padding-top: 20px;
    color: #008080;
    font-size: 14px;
}


#cart_content_title {
    display: inline-block;
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: #008080;
}

#cart_content_cart_table {
    border: 1px solid #8bcfb1;
    margin: 15px;
    min-height: 50px;
    border-radius: 5px 5px;
}

#cart_content_titlebar {
    display: table;
    width: 100%;
    height: 20px;
}

#cart_content_titlebar_pname{
	display: table-cell; 
	vertical-align: middle;
	text-align:center;
	width:20%;
	background-color:#f6d294;
}

#cart_content_titlebar_psavor{
	display: table-cell; 
	vertical-align: middle;
	text-align:center;
	width:30%;
	background-color:#f6d294;
}

#cart_content_titlebar_pamount{
    display: table-cell; 
	vertical-align: middle;
	text-align:center;
	width:10%;
	background-color:#f6d294;
}

.cart_content_row_pamount{
    display: table-cell; 
	text-align:center;
	height:100px;
    width:10%;
	border-right: 1px dotted #f6d294;
}

#cart_content_titlebar_pprice{
	display: table-cell; 
	vertical-align: middle;
	text-align:center;
	width:15%;
	background-color:#f6d294;
}



#cart_content_titlebar_ptotalprice{
	display: table-cell; 
	vertical-align: middle;
	width:15%;
	text-align:center;
	background-color:#f6d294;
}

.cart_content_row{
	border-bottom: 1px dotted #8bcfb1;
	width:100%;
	height:100px;
	display: table;
}

.cart_content_row_pname{
	display: table-cell; 
	text-align:center;
	width:20%;
	height:100px;
	border-right: 1px dotted #f6d294;
}

.cart_content_row_pname img{
	margin-top:5px;
	margin-bottom:3px;
	width:80px;
	height:65px;
}

.cart_content_row_psavor{
	display: table-cell; 
	vertical-align: middle;
	text-align:center;
	height:100%;
	width:30%;
	border-right: 1px dotted #f6d294; 
	-moz-box-sizing: border-box;
	color:#008080;
}


.cart_content_row_pprice{
	display: table-cell; 
	vertical-align: middle;
	text-align:center;
	width:15%;
	height:100%;
	border-right: 1px dotted #f6d294;
	color:#008080;
}

#cart_content_titlebar_action{
    display: table-cell; 
	vertical-align: middle;
	
	text-align:center;
	background-color:#f6d294;
}

.cart_content_row_ptotalprice{
	display: table-cell; 
	vertical-align: middle;
	text-align:center;
	width:15%;
	height:100%;
	font-weight:bold;
	color:#008080;
    border-right: 1px dotted #f6d294;
}

.input_text {
    width: 30px;
    border-radius: 5px 5px;
    border: 2px solid #8bcfb1;
    text-align: center;
}

#cart_content_total_title {
    font-size: 16px;
    margin-left: 565px;
    margin-right: 25px;
}

#cart_content_total_price {
    color: #f37567;
    font-size: 16px;
    font-weight: bold;
}

#btnPay {
    margin-left: 260px;
    margin-bottom: 20px;
    margin-top: 10px;
}


.btnstyle {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    color: #191970;
    font-size: 20px;
    background: #f6d294;
    padding: 5px 10px 5px 10px;
    border: solid #008080 1px;
    text-decoration: none;
}

    .btnstyle:hover {
        background: #8bcfb1;
        text-decoration: none;
        color: #fff;
    }

#btnContinue {
    margin-left: 30px;
    margin-bottom: 20px;
}



#btnLogin {
    margin-left: 220px;
    margin-top: 20px;
}

#frmLogin a {
    margin-left: 140px;
    display: block;
    margin-top: 8px;
    margin-bottom: -15px;
    font-size: 10px;
    color: #f37567;
}

    #frmLogin a:hover {
        text-decoration: underline;
    }

#btnLogin:hover {
    background: #8bcfb1;
    text-decoration: none;
}

#recovery_password {
    text-align: center;
    color: #f37567;
}

#Login_content_border {
    border: 2px solid #fff;
    margin: 10px 200px 30px 200px;
    border-radius: 5px 5px;
    padding: 20px;
}

#Register_content_border {
    border: 2px solid #fff;
    margin: 10px 100px 20px 100px;
    border-radius: 5px 5px;
    padding: 20px;
}

#Login_content_label {
    margin-right: 10px;
}

#Login_content_text {
    margin-right: 10px;
}

#Recovery_labelPass {
    margin-left: 250px;
}

#btnSubmitRecoveryPass {
    margin-left: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.lblstyle {
    font-size: 14px;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #CD853F;
}

.report_row_left {
    float: left;
    width: 33%;
    text-align: right;
    padding-top: 3px;
}

.txtstyle {
    width: 200px;
    border: 1px solid #8bcfb1;
    border-radius: 5px 5px;
    color: #008080;
    font-weight: bold;
    height: 20px;
}

/* #Login_content_Password{
	width:200px;
	border:1px solid #8bcfb1;
	border-radius: 5px 5px;
	color:#008080;
	height:20px;
} */

#sidebar {
    clear: both;
    padding: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 222px;
    background: #f6d294;
    border-radius: 5px 5px;
}

    #sidebar dl {
        margin: 0px;
        padding: 0px;
    }

        #sidebar dl dd {
            margin: 0px;
            padding: 0px;
            border-top: 1px solid #CD853F;
        }

            #sidebar dl dd a {
                font-size: 14px;
                padding: 3px 22px;
                display: block;
            }

                #sidebar dl dd a:hover {
                    background: #8bcfb1;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                }

.list_menu {
    background: #d9eee7;
    color: #191970;
    margin: 2px 0px 1px 0px;
    padding: 6px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#menu_sidebar {
    background: #f37567;
    color: #191970;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}

#footer {
    clear: both;
    background: #f6d294;
    padding: 8px 8px 5px 8px;
    text-align: center;
    border-top: 2px solid #FFF;
    font-weight: bold;
    color: #191970;
    border-radius: 5px 5px;
}

a {
    text-decoration: none;
    color: #191970;
}

#txtsearch {
    color: #fff;
    background: #8bcfb1;
    margin: 0px 0px 0px 10px;
    padding: 0px 5px 0px 5px;
    width: 200px;
    border: 1px solid #fff;
    border-radius: 5px 5px;
    text-align: center;
}

#btnsearch {
    cursor: pointer;
    border: 0px;
    width: 20px;
    height: 20px;
    background: #8bcfb1;
    padding: 0px;
    background: url(../imgs/search_icon1.png);
}

#chbxsearch {
    display: none;
}

#chbxsearchLogin {
    display: none;
}

#lblsearch {
    margin-left: 30px;
    font-size: 9px;
    margin-top: -11px;
    position: fixed;
    color: #fff;
}

#lblRememberLogin {
    margin-left: 130px;
    font-size: 12px;
    margin-top: -11px;
    position: absolute;
    color: #008080;
}

.checkboxRememberLogin {
    width: 10px;
    height: 10px;
    background: #f6d294;
    margin-top: 15px;
    margin-left: 115px;
    position: relative;
    border-radius: 100%;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

    .checkboxRememberLogin label {
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 100px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 1.75px;
        left: 1.75px;
        z-index: 1;
        background: #f6d294;
        -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
        box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
    }

    .checkboxRememberLogin input[type=checkbox]:checked + label {
        background: #f37567;
    }

.checkboxNew {
    width: 10px;
    height: 10px;
    background: #f6d294;
    margin: 1px 15px;
    position: relative;
    border-radius: 100%;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

    .checkboxNew label {
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 100px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 1.75px;
        left: 1.75px;
        z-index: 1;
        background: #f6d294;
        -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
        box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
    }

    .checkboxNew input[type=checkbox]:checked + label {
        background: #f37567;
    }

.Register_row_left {
    float: left;
    width: 40%;
    text-align: right;
    padding-top: 3px;
}

.txtSupport {
    width: 350px;
    border: 1px solid #8bcfb1;
    border-radius: 5px 5px;
    color: #008080;
    font-weight: bold;
    height: 20px;
}

.txtArea {
    width: 400px;
    border: 1px solid #8bcfb1;
    border-radius: 5px 5px;
    color: #008080;
    font-weight: bold;
}

.Support_row_left {
    float: left;
    width: 30%;
    text-align: right;
    padding-top: 3px;
}

#Support_boder {
    margin-top: 30px;
    margin-bottom: 20px;
}


.redstar {
    color: #f37567;
}

.Register_row {
    clear: both;
    margin-bottom: 10px;
}

.his_cart{
    clear: both;
    text-align:center;
  
    
    font-size:14px;
}

.his_cart a{
    color:#008080;
}

.his_cart a:hover{
    font-size:16px;
    font-weight:bold;
}

#ad_update_img {
    text-align: center;
    margin-bottom: 20px;
}

    #ad_update_img img {
        width: 275px;
        height: 215px;
    }

.Register_row img {
    width: 100%;
    margin-top: 20px;
}

.Register_row_bottom {
    border-bottom: 1px dotted #8bcfb1;
    margin-top: 5px;
    margin-bottom: 10px;
}

.Register_label_information {
    color: #f37567;
    font-size: 16px;
    font-weight: bold;
}

#btnRegister {
    margin-top: 20px;
    margin-left: 225px;
}

#btnSubmit {
    margin-top: 20px;
    margin-left: 46%;
}

#comment_border {
    margin: 10px;
    min-height: 100px;
    border: 1px solid #008080;
    border-radius: 5px 5px;
}

#btnUpdateAccnout {
    margin-top: 20px;
    margin-left: 225px;
}

#btnCancelUpdate {
    margin-left: 20px;
}

#btnDoneUpdate {
    margin-top: 20px;
    margin-left: 220px;
}

#ViewCart {
    color: #f37567;
    margin-left: 5px;
}

    #ViewCart:hover {
        text-decoration: underline;
    }

#InformationRegister {
    color: #f37567;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;
}

#info_img {
    width: 800px;
}

.cart_content_row_pname_name {
    color: #008080;
}

#content_information {
    color: #008080;
    font-size: 20px;
    text-align: center;
}


#table_customers {
}

    #table_customers table {
        width: 85%;
        overflow: hidden;
        border-radius: 10px 10px;
        border: 1px solid #008080;
        border-collapse: collapse;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #table_customers th, td {
        border: 1px dotted #CD853F;
        border-collapse: collapse;
        padding: 5px;
        color: #008080;
        text-align: center;
    }

    #table_customers tr {
        border: 1px dotted #8bcfb1;
    }

    #table_customers th {
        vertical-align: miidle;
        background-color: #f6d294;
        font-size: 14px;
        color: #191970;
    }

    #table_customers a {
        color: #f37567;
    }

        #table_customers a:hover {
            text-decoration: underline;
        }

.textAlignCenter_table {
    text-align: center;
}

.textBold_table {
    font-weight: bold;
}

.img_demo img {
    width: 80px;
    height: 65px;
}

#title_comment_border {
    background-color: #008080;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    border-top-left-radius: 5px 5px;
    color: #fff;
    border-top-right-radius: 5px 5px;
}

.Redfont {
    color: #f37567;
}

.lblaccount {
    color: #008080;
    font-weight: bold;
    font-size: 18px;
}

#loginError {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.messageerror {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

#comment_detail a {
    color: #f37567;
    font-size: 14px;
    font-weight: bold;
}

    #comment_detail a:hover {
        text-decoration: underline;
    }

#comment_detail {
    color: #008080;
}

#comment {
    padding: 10px;
    font-size: 14px;
    color: #008080;
    border-bottom: 1px dotted #CD853F;
}

#username_comment {
    color: #f37567;
    font-size: 15px;
    font-weight: bold;
}

#area_comment {
    border: 2px dotted #008080;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
}

#area_post_comment {
    padding: 5px;
}

#btnPostComment {
    margin-left: 200px;
}

#addProduct{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}

#addProduct a {
    color:#f37567;
    font-size:16px;
    font-weight:bold;
}
#addProduct a:hover{
    text-decoration:underline;
}