﻿@using LengKeng.Code
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Leng Keng</title>
    <link rel="stylesheet" href="~/Content/LengKeng_themes/css/style_1.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/LengKeng_themes/css/SliderBanner/style.css" />
    <script type="text/javascript" src="~/Content/LengKeng_themes/css/SliderBanner/jquery.js"></script>
    <link href="~/Content/LengKeng_themes/css/PagedList.css" rel="stylesheet" />
</head>
<body>
    <div id="out_source">
        <div id="header_top">
            <div id="in_left">
                <div id="search">
                    @using (Html.BeginForm("Search","Home"))
                    {
                        <input type="text" id="txtsearch" name="txtsearch" size="21" maxlength="120" placeholder="món nào...?">
                        <input type="submit" value=" " id="btnsearch">
                        
                    }
                </div>
            </div>
            @{
                UserSession user = SessionHelper.getSesstion();
                LengKeng.code.ShoppingCart cart = new LengKeng.code.ShoppingCart();
                if (user != null)
                {
                    //string count = user.CountShopping.ToString();
                    
                    


                        <div id="in_right_">
                            <ul id="nav">
                                <li>
                                    <a class="shoppingCart" href="@Url.Action("getCartView", "Accounts")">
                                        <span>Giỏ hàng: </span>
                                        <span id="spnCart" class="carteffect">@cart.getAmount() </span>
                                        <span class="carteffect"> Item(s)</span>
                                    </a>
                                </li>
                                <li class="shoppingCart">
                                    ●
                                </li>
                                <li>
                                    @Html.ActionLink("Welcome " + @user.UserName, "detailAccount", "Accounts")
                                    <ul class="dropdown">

                                        <li>@Html.ActionLink("Lịch sử mua hàng", "historyCart", "Accounts")</li>
                                        @{
                    if (user.isSocial == 0)
                    {
                                    <li>@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "Accounts")</li>
                    }
                    if (user.Admin == 1)
                    {
                        <li>@Html.ActionLink("Trang quản lý", "Index", "Admin")</li>
                    }
}
                                        <li>@Html.ActionLink("Đăng xuất", "Logout", "Accounts")</li>
                                        

                                    </ul>
                                </li>


                            </ul>

                        </div>


                    



                }
                else
                {
                    <div id="in_right">
                        @Html.ActionLink("Đăng kí", "registerAccount", "Accounts")
                        <span id="slash">|</span>
                        @Html.ActionLink("Đăng nhập", "LoginAccount", "Accounts")
                        <span id="slash" class="shoppingCart">●</span>
                        <a class="shoppingCart" href="@Url.Action("getCartView", "Accounts")">
                            <span>Giỏ hàng: </span>
                            <span id="spnCart" class="carteffect">@cart.getAmount() </span>
                            <span class="carteffect"> Item(s)</span>
                        </a>
                    </div>
                }
            }

        </div>
        <div id="header_logo">
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/LengKeng_themes/imgs/logo_moi1.gif" alt="header_left">
            </a>
        </div>
    </div>
    <div id="source">
        <div id="header">
            <div id="header_center">
                <div id="on_center">
                    <div id="wowslider-container1">
                        <div class="ws_images">
                            <ul>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/banner0.png" alt="banner0" title="banner0" id="wows1_0" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/banner1.jpg" alt="banner1" title="banner1" id="wows1_1" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/banner3.jpg" alt="banner3" title="banner3" id="wows1_2" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/banner4.jpg" alt="banner4" title="banner4" id="wows1_3" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/banner5.jpg" alt="banner5" title="banner5" id="wows1_4" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/banner6.jpg" alt="banner6" title="banner6" id="wows1_5" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/banner7.jpg" alt="banner7" title="banner7" id="wows1_6" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/banner8.jpg" alt="banner8" title="banner8" id="wows1_7" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/banner9.jpg" alt="banner9" title="banner9" id="wows1_8" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/chocolate+week+ice+cream+sandwich.jpg" alt="chocolate+week+ice+cream+sandwich" title="chocolate+week+ice+cream+sandwich" id="wows1_9" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/coppettelecestinecolorate.jpg" alt="coppettelecestinecolorate" title="coppettelecestinecolorate" id="wows1_10" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/cover.jpg" alt="cover" title="cover" id="wows1_11" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/desert6a_1.jpg" alt="desert6a_1" title="desert6a_1" id="wows1_12" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/dessertb6_1.jpg" alt="dessertb6_1" title="dessertb6_1" id="wows1_13" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/icecreammodbanner.png" alt="icecreammodbanner" title="icecreammodbanner" id="wows1_14" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/ics.jpg" alt="wordpress slider" title="ics" id="wows1_15" /></li>
                                <li><img src="~/Content/LengKeng_themes/imgs/banner/images/imglowfaticecream.png" alt="imglowfaticecream" title="imglowfaticecream" id="wows1_16" /></li>
                            </ul>
                        </div>
                        <div class="ws_bullets">
                            <div>
                                <a href="#" title="banner0"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/banner0.png" alt="banner0" />1</span></a>
                                <a href="#" title="banner1"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/banner1.jpg" alt="banner1" />2</span></a>
                                <a href="#" title="banner3"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/banner3.jpg" alt="banner3" />3</span></a>
                                <a href="#" title="banner4"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/banner4.jpg" alt="banner4" />4</span></a>
                                <a href="#" title="banner5"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/banner5.jpg" alt="banner5" />5</span></a>
                                <a href="#" title="banner6"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/banner6.jpg" alt="banner6" />6</span></a>
                                <a href="#" title="banner7"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/banner7.jpg" alt="banner7" />7</span></a>
                                <a href="#" title="banner8"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/banner8.jpg" alt="banner8" />8</span></a>
                                <a href="#" title="banner9"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/banner9.jpg" alt="banner9" />9</span></a>
                                <a href="#" title="chocolate+week+ice+cream+sandwich"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/chocolate+week+ice+cream+sandwich.jpg" alt="chocolate+week+ice+cream+sandwich" />10</span></a>
                                <a href="#" title="coppettelecestinecolorate"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/coppettelecestinecolorate.jpg" alt="coppettelecestinecolorate" />11</span></a>
                                <a href="#" title="cover"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/cover.jpg" alt="cover" />12</span></a>
                                <a href="#" title="desert6a_1"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/desert6a_1.jpg" alt="desert6a_1" />13</span></a>
                                <a href="#" title="dessertb6_1"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/dessertb6_1.jpg" alt="dessertb6_1" />14</span></a>
                                <a href="#" title="icecreammodbanner"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/icecreammodbanner.png" alt="icecreammodbanner" />15</span></a>
                                <a href="#" title="ics"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/ics.jpg" alt="ics" />16</span></a>
                                <a href="#" title="imglowfaticecream"><span><img src="~/Content/LengKeng_themes/imgs/banner/tooltips/imglowfaticecream.png" alt="imglowfaticecream" />17</span></a>
                            </div>
                        </div>
                        <div class="ws_shadow"></div>
                    </div>
                    <script type="text/javascript" src="~/Content/LengKeng_themes/css/SliderBanner/wowslider.js"></script>
                    <script type="text/javascript" src="~/Content/LengKeng_themes/css/SliderBanner/script.js"></script>
                </div>
                <div id="on_bottom">
                    <div class="header_menu">
                        @Html.ActionLink("Trang chủ", "Index/" + "Kem viên", "Home")
                    </div>
                    <div class="header_menu">
                        @Html.ActionLink("Giới thiệu", "getInformation", "Home")
                    </div>

                    <div class="header_menu">
                        @Html.ActionLink("Hỗ trợ", "sendSupport", "Accounts")

                    </div>
                    <div class="header_menu">

                        <a href="https://www.facebook.com/groups/371181323080251/">
                            Liên hệ
                        </a>
                    </div>
                </div>
            </div>
            <div id="header_bottom">
            </div>
        </div>

        @RenderBody()

        <div id="footer">
            <a href="https://www.facebook.com/groups/371181323080251/">
                &copy; Designed by LengKeng Team
            </a>
        </div>
    </div>
</body>
</html>