﻿@{
    ViewBag.Title = "cart";
}


@using LengKeng.Models

@{
    List<PRODUCTS> listBill = (List<PRODUCTS>)ViewData["listCart"];
    List<int> listAmount = (List<int>)ViewData["listAmonut"];
}
<span id="cart_content_title">Quản lý giỏ hàng</span>

<div id="cart_content_cart_table">
    <div id="cart_content_titlebar">
        <span id="cart_content_titlebar_pname">Sản phẩm</span>
        <span id="cart_content_titlebar_psavor">Mùi vị</span>
        <span id="cart_content_titlebar_pprice">Đơn giá</span>
        <span id="cart_content_titlebar_pamount">Số lượng</span>
        <span id="cart_content_titlebar_ptotalprice">Thành tiền</span>
        <span id="cart_content_titlebar_action"></span>
    </div>
    @for (int i = 0; i < listBill.Count; i++)
    {

        <div class="cart_content_row">
            <div class="cart_content_row_pname">
                <img src="@Url.Content(@listBill[i].PIMG)" alt="@listBill[i].PNAME">
                <div class="cart_content_row_pname_name">@listBill[i].PNAME</div>
            </div>
            <div class="cart_content_row_psavor">
                <p>@listBill[i].PSAVOUR</p>
            </div>

            <div class="cart_content_row_pprice">
                <p>@listBill[i].PCOST Vnđ</p>

            </div>

            <div class="cart_content_row_pamount">
                <form>
                    <input id="item_@i" class="input_text" step="1" type="number" onchange ="updateCart('@i')" value="@listAmount[i].ToString()" />
                </form>
            </div>

            <div class="cart_content_row_ptotalprice">
                @{var price = listBill[i].PCOST * listAmount[i];
                          <p>@price</p>}
            </div>
            <div class="cart_content_row_ptotalprice">
                
                <a onclick="deleteItemCart('@i')">Xoá</a>
            </div>
        </div>
    }



</div>

<div id="cart_content_total">
    <span id="cart_content_total_title">Tổng giá:</span>
    <span id="cart_content_total_price">@ViewData["Total"] Vnđ</span>
</div>
