﻿@model LengKeng.Models.CommentModel
@using LengKeng.Models
@using LengKeng.Code
<div id="comment_border">
    <div id="title_comment_border">Bình luận - Nhận xét</div>

    <div id="area_comment">
        @{
            
            List<COMMENTS> listCom = ViewData["listComment"] as List<COMMENTS>;
            foreach (COMMENTS com in listCom)
            {
                <div id="comment">
                    <span id="username_comment">@com.USERNAME - <i>(@com.CDATECREATE)</i> </span>
                    <br />
                     <span>@com.CMCONTENT</span>
                </div>
            }
        }
    </div>

    <div id="area_post_comment">
        @{
            UserSession user = SessionHelper.getSesstion();
            if (user != null)
            {
                using (Html.BeginForm("detailProduct", "Product", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
            @Html.Hidden("IDPRODUCT", ViewBag.PID as String)
            @Html.Hidden("USERNAME", user.UserName)

            <div>
                @Html.TextAreaFor(m => m.CMCONTENT, new { @class = "txtArea", style = "width:530px; height: 50px;", @Placeholder = "Thêm bình luận....." })
            </div>
            <div align="center" class="field-validation-error">
                
            </div>
            <input class="btnstyle" id="btnPostComment" type="button" value="Đăng" onclick="sendComment('@ViewBag.PID', '@user.UserName');"/>
                }

            }
            else
            {

                <span id="comment_detail">
                    Vui lòng
                    <a href="@Url.Action("LoginAccount", "Accounts")">Đăng nhập</a>
                    hoặc <a href="@Url.Action("registerAccount", "Accounts")">Đăng kí</a>
                    tài khoản để có thể bình luận
                </span>

            }
        }

    </div>

</div>

