﻿@using LengKeng.Models
@{
    List<DEPARTMENTS> listDe = (List<DEPARTMENTS>)ViewData["listDepartment"];

}

<div id="sidebar">
    <dl>
        <dt id="menu_sidebar">MENU</dt>
        @foreach (DEPARTMENTS tempDe in listDe)
        {
            <dt class="list_menu"><a href="@Url.Action("Index", "Home", new { id1 = @tempDe.DID, id2 = "De" })">@tempDe.DNAME</a></dt>

            List<CATELOGIES> listCa = tempDe.CATELOGIES.Cast<CATELOGIES>().ToList();
            foreach (CATELOGIES tempCa in listCa)
            {
                <dd>
                    <a href="@Url.Action("Index", "Home", new { id1 = @tempCa.CID, id2 = "Ca" })">@tempCa.CNAME</a>
                </dd>
            }
        }
    </dl>
    
</div>


