﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    
    <link href="~/App/views/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/App/views/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/App/views/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/App/views/css/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="~/App/views/img/favicon.ico">
    <!-- end: Favicon -->

    <script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.16/angular-route.min.js"></script>


    <script src="~/Scripts/angular-local-storage.min.js"></script>
    <script src="~/Scripts/loading-bar.min.js"></script>

    
    <script src="~/App/app.js"></script>
    <script src="~/App/services/authInterceptorService.js"></script>
    <script src="~/App/services/authService.js"></script>

    <script src="~/App/controllers/homeController.js"></script>
    <script src="~/App/controllers/homeController.js"></script>
    <script src="~/App/controllers/loginController.js"></script>
    <script src="~/App/controllers/manageAccountsController.js"></script>
    <script src="~/App/controllers/manageCategoriesController.js"></script>
    <script src="~/App/controllers/manageDepartmentsController.js"></script>
    <script src="~/App/controllers/manageProductsController.js"></script>
    <script src="~/App/controllers/manageBillsController.js"></script>
    <script src="~/App/controllers/manageSupportsController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- start: JavaScript-->
    <script src="~/App/views/js/jquery-1.9.1.min.js"></script>
    <script src="~/App/views/js/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/App/views/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/App/views/js/jquery.ui.touch-punch.js"></script>

    <script src="~/App/views/js/modernizr.js"></script>

    <script src="~/App/views/js/bootstrap.min.js"></script>

    <script src="~/App/views/js/jquery.cookie.js"></script>

    <script src="~/App/views/js/fullcalendar.min.js"></script>

    <script src="~/App/views/js/jquery.dataTables.min.js"></script>

    <script src="~/App/views/js/excanvas.js"></script>
    <script src="~/App/views/js/jquery.flot.js"></script>
    <script src="~/App/views/js/jquery.flot.pie.js"></script>
    <script src="~/App/views/js/jquery.flot.stack.js"></script>
    <script src="~/App/views/js/jquery.flot.resize.min.js"></script>

    <script src="~/App/views/js/jquery.chosen.min.js"></script>

    <script src="~/App/views/js/jquery.uniform.min.js"></script>

    <script src="~/App/views/js/jquery.cleditor.min.js"></script>

    <script src="~/App/views/js/jquery.noty.js"></script>

    <script src="~/App/views/js/jquery.elfinder.min.js"></script>

    <script src="~/App/views/js/jquery.raty.min.js"></script>

    <script src="~/App/views/js/jquery.iphone.toggle.js"></script>

    <script src="~/App/views/js/jquery.uploadify-3.1.min.js"></script>

    <script src="~/App/views/js/jquery.gritter.min.js"></script>

    <script src="~/App/views/js/jquery.imagesloaded.js"></script>

    <script src="~/App/views/js/jquery.masonry.min.js"></script>

    <script src="~/App/views/js/jquery.knob.modified.js"></script>

    <script src="~/App/views/js/jquery.sparkline.min.js"></script>

    <script src="~/App/views/js/counter.js"></script>

    <script src="~/App/views/js/retina.js"></script>
    <script src="~/App/views/js/custom.js"></script>
    <!-- end: JavaScript-->

</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#"><span>LENGKENG</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right" ng-controller="indexController">


                        <!-- start: User Dropdown -->
                        <li class="dropdown" data-ng-hide="!authentication.isAuth">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i>{{loginData.userName}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Account Settings</span>
                                </li>
                                <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                                <li><a href="" data-ng-click="logOut()"><i class="halflings-icon off"></i> Logout</a></li>
                            </ul>
                        </li>

                        <!-- end: User Dropdown -->

                        <li class="active" data-ng-hide="authentication.isAuth"><a href="#/login">Login</a></li>
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div ng-view>
    </div><!--/fluid-row-->

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <ul class="list-inline item-details">
                <li><a href="http://themifycloud.com">Admin templates</a></li>
                <li><a href="http://themescloud.org">Bootstrap themes</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>
        <p>
            <span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>

        </p>
    </footer>



</body>
</html>
