﻿@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LengKeng.Models


@{
    PRODUCTS temp = (PRODUCTS)ViewData["product"];
}
@Html.Partial("PartialSidebar")
<div id="content">
    <div id="detail_content_left">
        <img src="@Url.Content(@temp.PIMG)" alt="@temp.PNAME">
    </div>
    <div id="detail_content_right">
        <div class="detail_content_row_info">
            <span class="detail_content_label">Tên: </span>
            <span class="detail_content_info">
                <span id="detail_content_pname">@temp.PNAME</span>
            </span>
        </div>

        @*<div class="detail_content_row_info">
            <span class="detail_content_label">Loại: </span>
            <span class="detail_content_info">@temp.CATELOGIES.CNAME</span>
        </div>*@

        <div class="detail_content_row_info">
            <span class="detail_content_label">Đơn giá: </span>
            <span class="detail_content_info">
                <span id="detail_content_pprice">@temp.PCOST Vnđ</span>
            </span>
        </div>

        <div class="detail_content_row_info">
            <span class="detail_content_label">Mùi vị: </span>
            <span class="detail_content_info">@temp.PSAVOUR</span>
        </div>

        <div class="detail_content_row_info">
            <span class="detail_content_label">Tình trạng: </span>
            <span class="detail_content_info">@temp.PSTATUS</span>
        </div>

        <div class="detail_content_row_info">
            <span class="detail_content_label">Số lượt xem: </span>
            <span class="detail_content_info">@temp.PVIEW</span>
        </div>


        <div id="detail_pay_AddToCad">
            @*@{
                UserSession user = SessionHelper.getSesstion();
                
                if (user != null)
                {
                    if (user.Admin == 1)
                    {
                        <div class="detail_row_pay">
                            <span class="detail_content_icon">

                            </span>
                            <button class="btnstyle" class="pay_cart" type="button" onclick="window.location.href = '@Url.Action("manageUpdateProduct/" + @temp.PID, "Product")'">Cập nhật</button>
                        </div>
                    }
                }
            }*@


            <div class="detail_row_pay">
                <span class="detail_content_icon">
                    <img src="~/Content/LengKeng_themes/imgs/shopping_cart.png" alt="icon cart">
                </span>
                <button class="btnstyle" class="pay_cart" type="button" onclick="addToCart('@temp.PID')">Thêm vào giỏ</button>
            </div>
        </div>


    </div>
    <div id="detail_content_bottom">
        @temp.PDESCRIPTION
    </div>
    <div id="_comment">
        @{Html.RenderAction("Comment", "Product", new { id = temp.PID });}
        
    </div>
   
</div>


<style type="text/css">
    /* Styles for validation helpers*/
    .field-validation-error {
        color: red;
    }

    .field-validation-valid {
        display: none;
        text-align: center;
    }

    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }

    .validation-summary-errors {
        font-weight: bold !important;
        color: red !important;
        text-align: center;
        font-size: 16px;
    }

    .validation-summary-valid {
        display: none;
    }
</style>


<script>
    function sendComment(pid, username) {
        var commentContent = $(".txtArea").val();
        if ($.trim(commentContent).length == 0) {
            $(".field-validation-error").html('Vui lòng điền bình luận');
        }
        else {
            $.ajax({
                url: '@Url.Action("addComent", "Product")',
                type: 'POST',

                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { pid: pid, username: username, commentContent: commentContent },
                success: function (data) {

                    $("#_comment").html(data);
                    $(".field-validation-error").html('');
                },
                error: function (data) {
                    alert('đã có lỗi xảy ra. Vui lòng thử lại sau.');

                }
            });
        }
        
    }

    function addToCart(id) {
        $.ajax({
            url: '@Url.Action("addShopping", "Accounts")',
            type: 'GET',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: { id: id },
            success: function (data) {
                document.getElementById("spnCart").innerHTML = data;
                $(".carteffect").fadeOut(500, function () {
                    $(".carteffect").css("color", "#008080").fadeIn(300, function () {
                        $(".carteffect").css("color", "#fff").fadeIn();
                    });

                });
            },
            error: function () {
                alert('đã có lỗi xảy ra. Vui lòng thử lại sau.');
            }
        });
    }
</script>

