﻿<div ng-controller="addDepartmentController" class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="#/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                    <li><a href="#/manageaccounts"><i class="icon-group"></i><span class="hidden-tablet"> Quản lý tài khoản</span></a></li>
                    <li class="active"><a href="#/managedepartments"><i class="icon-th-list"></i><span class="hidden-tablet"> Quản lý Department</span></a></li>
                    <li><a href="#/managecategories"><i class="icon-list"></i><span class="hidden-tablet"> Quản lý Category</span></a></li>
                    <li><a href="#/manageproducts"><i class="icon-barcode"></i><span class="hidden-tablet"> Quản lý sản phẩm</span></a></li>
                    <li><a href="#/managebills"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Quản lý đơn đặt hàng</span></a></li>
                    <li><a href="#/managesupports"><i class="icon-envelope"></i><span class="hidden-tablet"> Quản lý phản hồi</span></a></li>
                    <li><a href="http://lengkeng.apphb.com/"><i class="icon-lock"></i><span class="hidden-tablet"> Trang khách hàng</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Trang chủ</a>
                    <i class="icon-angle-right"></i>
                    <a href="#/managedepartments">Quản lý Department</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>{{message}}</a></li>
            </ul>
            <div class="row-fluid sortable ui-sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title="">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin Department</h2>
                        <div class="box-icon">
                            <a href="#/adddepartment" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" ng-submit="submit()" name="addDepartmentForm">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Tên Department</label>
                                    <div class="controls">
                                        <input type="text" name="tenDepartment" ng-model="TenDepartment" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="addDepartmentForm.tenDepartment.$dirty && addDepartmentForm.tenDepartment.$invalid">
                                            <span ng-show="addDepartmentForm.tenDepartment.$error.required">Vui lòng nhập tên Department.</span>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <button ng-disabled="addDepartmentForm.tenDepartment.$dirty && addDepartmentForm.tenDepartment.$invalid" type="submit" class="btn btn-primary">
                                    Thêm
                                </button>
                                <button type="reset" class="btn">Làm lại</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Content -->
    </div>
</div>
