﻿<div ng-controller="homeController" class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li class="active"><a href="#/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                    <li><a href="#/manageaccounts"><i class="icon-group"></i><span class="hidden-tablet"> Quản lý tài khoản</span></a></li>
                    <li><a href="#/managedepartments"><i class="icon-th-list"></i><span class="hidden-tablet"> Quản lý Department</span></a></li>
                    <li><a href="#/managecategories"><i class="icon-list"></i><span class="hidden-tablet"> Quản lý Category</span></a></li>
                    <li><a href="#/manageproducts"><i class="icon-barcode"></i><span class="hidden-tablet"> Quản lý sản phẩm</span></a></li>
                    <li><a href="#/managebills"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Quản lý đơn đặt hàng</span></a></li>
                    <li><a href="#/managesupports"><i class="icon-envelope"></i><span class="hidden-tablet"> Quản lý phản hồi</span></a></li>
                    <li><a href="http://lengkeng.apphb.com/"><i class="icon-lock"></i><span class="hidden-tablet"> Trang khách hàng</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>
        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Trang chủ</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>{{message}}</a></li>
            </ul>

            <div class="row-fluid">
                <a class="quick-button metro red span2" href="#/manageaccounts">
                    <i class="icon-group"></i>
                    <p>Tài khoản</p>
                    <span class="badge">{{num.NUMACCOUNT}}</span>
                </a>
                <a class="quick-button metro yellow span2" href="#/managedepartments">
                    <i class="icon-th-list"></i>
                    <p>Department</p>
                    <span class="badge">{{num.NUMDEPARTMENT}}</span>
                </a>
                <a class="quick-button metro green span2" href="#/managecategories">
                    <i class="icon-list"></i>
                    <p>Category</p>
                    <span class="badge">{{num.NUMCATEGORY}}</span>
                </a>
                <a class="quick-button metro blue span2" href="#/manageproducts">
                    <i class="icon-barcode"></i>
                    <p>Sản phẩm</p>
                    <span class="badge">{{num.NUMPRODUCT}}</span>
                </a>
                <a class="quick-button metro purple span2" href="#/managebills">
                    <i class="icon-shopping-cart"></i>
                    <p>Đơn hàng</p>
                    <span class="badge">{{num.NUMBILL}}</span>
                </a>
                <a class="quick-button metro black span2" href="#/managesupports">
                    <i class="icon-envelope"></i>
                    <p>Phản hồi</p>
                    <span class="badge">{{num.NUMSUPPORT}}</span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>