﻿<div ng-controller="detailSupportController" class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="#/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                    <li><a href="#/manageaccounts"><i class="icon-group"></i><span class="hidden-tablet"> Quản lý tài khoản</span></a></li>
                    <li><a href="#/managedepartments"><i class="icon-th-list"></i><span class="hidden-tablet"> Quản lý Department</span></a></li>
                    <li><a href="#/managecategories"><i class="icon-list"></i><span class="hidden-tablet"> Quản lý Category</span></a></li>
                    <li><a href="#/manageproducts"><i class="icon-barcode"></i><span class="hidden-tablet"> Quản lý sản phẩm</span></a></li>
                    <li><a href="#/managebills"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Quản lý đơn đặt hàng</span></a></li>
                    <li class="active"><a href="#/managesupports"><i class="icon-envelope"></i><span class="hidden-tablet"> Quản lý phản hồi</span></a></li>
                    <li><a href="http://lengkeng.apphb.com/"><i class="icon-lock"></i><span class="hidden-tablet"> Trang khách hàng</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>
        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Trang chủ</a>
                    <i class="icon-angle-right"></i>
                    <a href="#/managesupports">Quản lý đơn hàng</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>{{message}}</a></li>
            </ul>
            <div class="row-fluid sortable ui-sortable">
                <div class="box span12">
                    <div class="box-header black" data-original-title="">
                        <h2><i class="halflings-icon white user"></i><span class="break"></span>Chi tiết phản hồi</h2>
                    </div>
                    <div class="box-content">
                        <fieldset>
                            <div class="control-group">
                                <span class="header"><strong>Tiêu đề:</strong></span>
                                <span class="header">{{support.STITEL}}</span>
                            </div>
                            <div class="control-group">
                                <span class="header"><strong>Nội dung:</strong></span>
                                <span class="header">{{support.SCONTENT}}</span>
                            </div>
                            <div class="control-group">
                                <span class="header"><strong>Ngày tạo:</strong></span>
                                <span class="header">{{support.SDATECREATE}}</span>
                            </div>
                            <div class="control-group">
                                <span class="header"><strong>Người tạo:</strong></span>
                                <span class="header">{{support.USERNAME}}</span>
                            </div>
                        </fieldset>
                    </div>
                </div><!--/span-->
            </div>
        </div>
        <!-- end: Content -->
    </div>
</div>