﻿<div ng-controller="detailProductController" class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->        
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="#/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                    <li><a href="#/manageaccounts"><i class="icon-group"></i><span class="hidden-tablet"> Quản lý tài khoản</span></a></li>
                    <li><a href="#/managedepartments"><i class="icon-th-list"></i><span class="hidden-tablet"> Quản lý Department</span></a></li>
                    <li><a href="#/managecategories"><i class="icon-list"></i><span class="hidden-tablet"> Quản lý Category</span></a></li>
                    <li class="active"><a href="#/manageproducts"><i class="icon-barcode"></i><span class="hidden-tablet"> Quản lý sản phẩm</span></a></li>
                    <li><a href="#/managebills"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Quản lý đơn đặt hàng</span></a></li>
                    <li><a href="#/managesupports"><i class="icon-envelope"></i><span class="hidden-tablet"> Quản lý phản hồi</span></a></li>
                    <li><a href="http://lengkeng.apphb.com/"><i class="icon-lock"></i><span class="hidden-tablet"> Trang khách hàng</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Trang chủ</a>
                    <i class="icon-angle-right"></i>
                    <a href="#/manageproducts">Quản lý sản phẩm</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>{{message}}</a></li>
            </ul>
            <form class="form-horizontal">
                <div class="row-fluid sortable ui-sortable">
                    <div class="box span12">
                        <div class="box-header black" data-original-title="">
                            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin sản phẩm</h2>
                        </div>
                        <div class="box-content">
                                    <a>
                                        <img alt="" src="{{product.PIMG}}" style="max-height:275px; max-width:275px">
                                    </a>
                                    <fieldset>
                                        <div class="control-group">
                                            <span class="header"><strong>Tên:</strong></span>
                                            <span class="header">{{product.PNAME}}</span>
                                        </div>
                                        <div class="control-group">
                                            <span class="header"><strong>Loại:</strong></span>
                                            <span class="header">{{product.CNAME}}</span>
                                        </div>
                                        <div class="control-group">
                                            <span class="header"><strong>Đơn giá:</strong></span>
                                            <span class="header">{{product.PCOST}}</span>
                                        </div>
                                        <div class="control-group">
                                            <span class="header"><strong>Mùi vị:</strong></span>
                                            <span class="header">{{product.PSAVOUR}}</span>
                                        </div>
                                        <div class="control-group">
                                            <span class="header"><strong>Tình trạng:</strong></span>
                                            <span class="header">{{product.PSTATUS}}</span>
                                        </div>
                                        <div class="control-group">
                                            <span class="header"><strong>Số lượt xem:</strong></span>
                                            <span class="header">{{product.PVIEW}}</span>
                                        </div>
                                        <div class="control-group">
                                            <span class="header"><strong>Mô tả:</strong></span>
                                            <span class="header">{{product.PDESCRIPTION}}</span>
                                        </div>
                                    </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end: Content -->
    </div>
</div>
