﻿<div ng-controller="detailAccountController" class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="#/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                    <li class="active"><a href="#/manageaccounts"><i class="icon-group"></i><span class="hidden-tablet"> Quản lý tài khoản</span></a></li>
                    <li><a href="#/managedepartments"><i class="icon-th-list"></i><span class="hidden-tablet"> Quản lý Department</span></a></li>
                    <li><a href="#/managecategories"><i class="icon-list"></i><span class="hidden-tablet"> Quản lý Category</span></a></li>
                    <li><a href="#/manageproducts"><i class="icon-barcode"></i><span class="hidden-tablet"> Quản lý sản phẩm</span></a></li>
                    <li><a href="#/managebills"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Quản lý đơn đặt hàng</span></a></li>
                    <li><a href="#/managesupports"><i class="icon-envelope"></i><span class="hidden-tablet"> Quản lý phản hồi</span></a></li>
                    <li><a href="http://lengkeng.apphb.com/"><i class="icon-lock"></i><span class="hidden-tablet"> Trang khách hàng</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Trang chủ</a>
                    <i class="icon-angle-right"></i>
                    <a href="#/manageaccounts">Quản lý tài khoản</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>{{message}}</a></li>
            </ul>
            <form class="form-horizontal">
                <div class="row-fluid sortable ui-sortable">
                    <div class="box span12">
                        <div class="box-header black" data-original-title="">
                            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin đăng nhập</h2>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <span class="header"><strong>Tên đăng nhập:</strong></span>
                                    <span class="header">{{account.USERNAME}}</span>
                                </div>
                                <div class="control-group">
                                    <span class="header"><strong>Quyền:</strong></span>
                                    <span class="header">{{ROLE}}</span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row-fluid sortable">
                    <div class="box span12">
                        <div class="box-header black" data-original-title="">
                            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin cá nhân</h2>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <span class="header"><strong>Họ tên:</strong></span>
                                    <span class="header">{{account.FULLNAME}}</span>
                                </div>
                                <div class="control-group">
                                    <span class="header"><strong>Giới tính:</strong></span>
                                    <span class="header">{{account.SEX}}</span>
                                </div>
                                <div class="control-group">
                                    <span class="header"><strong>Email:</strong></span>
                                    <span class="header">{{account.EMAIL}}</span>
                                </div>
                                <div class="control-group">
                                    <span class="header"><strong>Số điện thoại:</strong></span>
                                    <span class="header">{{account.PHONENUMBER}}</span>
                                </div>
                                <div class="control-group">
                                    <span class="header"><strong>Địa chỉ:</strong></span>
                                    <span class="header">{{account.ADDRESS}}</span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end: Content -->
    </div>
</div>
