﻿<div class="container-fluid-full" ng-controller="loginController">
    <div class="row-fluid">

        <div class="row-fluid">
            <div class="login-box">
                <div class="icons">
                    <a href="index.html"><i class="halflings-icon home"></i></a>
                </div>
                <h2>Login to your account</h2>
                <form class="form-horizontal">
                    <fieldset>

                        <div class="input-prepend" title="Username">
                            <span class="add-on"><i class="halflings-icon user"></i></span>
                            <input class="input-large span10" name="username" id="username" type="text" placeholder="Username" data-ng-model="loginData.userName" required>
                        </div>
                        <div class="clearfix"></div>

                        <div class="input-prepend" title="Password">
                            <span class="add-on"><i class="halflings-icon lock"></i></span>
                            <input class="input-large span10" name="password" id="password" type="password" placeholder="Password" data-ng-model="loginData.password" required>
                        </div>
                        <div class="clearfix"></div>

                        <label class="remember" for="remember"><div class="checker" id="uniform-remember"><span><input type="checkbox" id="remember"></span></div>Remember me</label>

                        <div class="button-login">
                            <button type="submit" class="btn btn-primary" data-ng-click="login()">Login</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" data-ng-hide="message == ''">
                            <p class="text-danger">{{message2}}</p>
                        </div>
                    </fieldset>
                </form>
            </div><!--/span-->
        </div><!--/row-->


    </div><!--/.fluid-container-->

</div>