﻿<div ng-controller="manageProductsController" class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="#/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                    <li><a href="#/manageaccounts"><i class="icon-group"></i><span class="hidden-tablet"> Quản lý tài khoản</span></a></li>
                    <li><a href="#/managedepartments"><i class="icon-th-list"></i><span class="hidden-tablet"> Quản lý Department</span></a></li>
                    <li><a href="#/managecategories"><i class="icon-list"></i><span class="hidden-tablet"> Quản lý Category</span></a></li>
                    <li class="active"><a href="#/manageproducts"><i class="icon-barcode"></i><span class="hidden-tablet"> Quản lý sản phẩm</span></a></li>
                    <li><a href="#/managebills"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Quản lý đơn đặt hàng</span></a></li>
                    <li><a href="#/managesupports"><i class="icon-envelope"></i><span class="hidden-tablet"> Quản lý phản hồi</span></a></li>
                    <li><a href="http://lengkeng.apphb.com/"><i class="icon-lock"></i><span class="hidden-tablet"> Trang khách hàng</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>
        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Trang chủ</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>{{message}}</a></li>
            </ul>
            <div class="row-fluid sortable ui-sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title="">
                        <h2><i class="halflings-icon white user"></i><span class="break"></span>Danh sách sản phẩm</h2>
                        <div class="box-icon">
                            <a href="#/addproduct" class="btn-setting"><i class="halflings-icon white plus-sign"></i></a>
                            <a href="#/manageproducts" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                            <div class="row-fluid"><div class="span6"><div id="DataTables_Table_0_length" class="dataTables_length"><label><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div></div><div class="span6"><div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div></div></div><table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr>
                                        <th>Mã SP</th>
                                        <th>Tên SP</th>
                                        <th>Hình ảnh SP</th>
                                        <th>Giá SP</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="product in listProducts">
                                    <tr>
                                        <td class="center">{{product.PID}}</td>
                                        <td class="center">{{product.PNAME}}</td>
                                        <td class="center">
                                            <img src="{{product.PIMG}}" alt="" style="max-height:100px; max-width:100px">
                                        </td>
                                        <td class="center">{{product.PCOST}}</td>
                                        <td class="center">
                                            <a class="btn btn-success" href="#/detailproduct/{{product.PID}}">
                                                <i class="halflings-icon white zoom-in"></i>
                                            </a>
                                            <a class="btn btn-info" href="#/updateproduct/{{product.PID}}">
                                                <i class="halflings-icon white edit"></i>
                                            </a>
                                            <button class="btn btn-danger" ng-click="delproduct(product.PID)">
                                                <i class="halflings-icon white trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                            </table>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="dataTables_info" id="DataTables_Table_0_info">Showing 1 to 2 of 2 entries</div>
                                </div>
                                <div class="span12 center">
                                    <div class="dataTables_paginate paging_bootstrap pagination">
                                        <ul>
                                            <li class="prev disabled"><a href="#">← Previous</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li class="next disabled"><a href="#">Next → </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/span-->
            </div>
        </div>
        <!-- end: Content -->
    </div>
</div>