﻿<div ng-controller="registerAccountController" class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="#/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                    <li class="active"><a href="#/manageaccounts"><i class="icon-group"></i><span class="hidden-tablet"> Quản lý tài khoản</span></a></li>
                    <li><a href="#/managedepartments"><i class="icon-th-list"></i><span class="hidden-tablet"> Quản lý Department</span></a></li>
                    <li><a href="#/managecategories"><i class="icon-list"></i><span class="hidden-tablet"> Quản lý Category</span></a></li>
                    <li><a href="#/manageproducts"><i class="icon-barcode"></i><span class="hidden-tablet"> Quản lý sản phẩm</span></a></li>
                    <li><a href="#/managebills"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Quản lý đơn đặt hàng</span></a></li>
                    <li><a href="#/managesupports"><i class="icon-envelope"></i><span class="hidden-tablet"> Quản lý phản hồi</span></a></li>
                    <li><a href="http://lengkeng.apphb.com/"><i class="icon-lock"></i><span class="hidden-tablet"> Trang khách hàng</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Trang chủ</a>
                    <i class="icon-angle-right"></i>
                    <a href="#/manageaccounts">Quản lý tài khoản</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>{{message}}</a></li>
            </ul>
            <form class="form-horizontal" ng-submit="submit()" name="registerAccountForm">
                <div class="row-fluid sortable ui-sortable">
                    <div class="box span12">
                        <div class="box-header" data-original-title="">
                            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin đăng nhập</h2>
                            <div class="box-icon">
                                <a href="#/registeraccount" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Tên đăng nhập</label>
                                    <div class="controls">
                                        <input type="text" name="tenDangNhap" ng-model="TenDangNhap" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="registerAccountForm.tenDangNhap.$dirty && registerAccountForm.tenDangNhap.$invalid">
                                            <span ng-show="registerAccountForm.tenDangNhap.$error.required">Vui lòng nhập tên đăng nhập.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Mật khẩu</label>
                                    <div class="controls">
                                        <input type="password" name="matKhau" ng-model="MatKhau" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="registerAccountForm.matKhau.$dirty && registerAccountForm.matKhau.$invalid">
                                            <span ng-show="registerAccountForm.matKhau.$error.required">Vui lòng nhập mật khẩu.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Nhập lại mật khẩu</label>
                                    <div class="controls">
                                        <input type="password" name="nhapLaiMatKhau" ng-model="NhapLaiMatKhau" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="registerAccountForm.nhapLaiMatKhau.$dirty && registerAccountForm.nhapLaiMatKhau.$invalid">
                                            <span ng-show="registerAccountForm.nhapLaiMatKhau.$error.required">Vui lòng nhập nhập lại mật khẩu.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="selectError3">Quyền</label>
                                    <div class="controls">
                                        <select id="selectError3" ng-model="Quyen">
                                            <option value="User">User</option>
                                            <option value="Admin">Admin</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row-fluid sortable">
                    <div class="box span12">
                        <div class="box-header" data-original-title="">
                            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin cá nhân</h2>
                            <div class="box-icon">
                                <a href="#/registeraccount" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Họ tên</label>
                                    <div class="controls">
                                        <input type="text" name="hoTen" ng-model="HoTen" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="registerAccountForm.hoTen.$dirty && registerAccountForm.hoTen.$invalid">
                                            <span ng-show="registerAccountForm.hoTen.$error.required">Vui lòng nhập họ tên.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="selectError3">Giới tính</label>
                                    <div class="controls">
                                        <select id="selectError3" ng-model="GioiTinh">
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                        </select>                                        
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Email</label>
                                    <div class="controls">
                                        <input type="text" name="email" ng-model="Email" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="registerAccountForm.email.$dirty && registerAccountForm.email.$invalid">
                                            <span ng-show="registerAccountForm.email.$error.required">Vui lòng nhập email.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Số điện thoại</label>
                                    <div class="controls">
                                        <input type="tel" name="soDienThoai" ng-model="SoDienThoai" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="registerAccountForm.soDienThoai.$dirty && registerAccountForm.soDienThoai.$invalid">
                                            <span ng-show="registerAccountForm.soDienThoai.$error.required">Vui lòng nhập số điện thoại.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="date01">Ngày sinh</label>
                                    <div class="controls">
                                        <input type="date" class="input-xlarge datepicker hasDatepicker" id="date01" name="ngaySinh" ng-model="NgaySinh" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="registerAccountForm.ngaySinh.$dirty && registerAccountForm.ngaySinh.$invalid">
                                            <span ng-show="registerAccountForm.ngaySinh.$error.required">Vui lòng nhập ngày sinh.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Địa chỉ</label>
                                    <div class="controls">
                                        <input type="text" name="diaChi" ng-model="DiaChi" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="registerAccountForm.diaChi.$dirty && registerAccountForm.diaChi.$invalid">
                                            <span ng-show="registerAccountForm.diaChi.$error.required">Vui lòng nhập họ tên.</span>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button ng-disabled="registerAccountForm.tenDangNhap.$dirty && registerAccountForm.tenDangNhap.$invalid ||
                            registerAccountForm.matKhau.$dirty && registerAccountForm.matKhau.$invalid ||
                            registerAccountForm.nhapLaiMatKhau.$dirty && registerAccountForm.nhapLaiMatKhau.$invalid ||
                            registerAccountForm.hoTen.$dirty && registerAccountForm.hoTen.$invalid ||
                            registerAccountForm.email.$dirty && registerAccountForm.email.$invalid ||
                            registerAccountForm.soDienThoai.$dirty && registerAccountForm.soDienThoai.$invalid ||
                            registerAccountForm.ngaySinh.$dirty && registerAccountForm.ngaySinh.$invalid ||
                            registerAccountForm.diaChi.$dirty && registerAccountForm.diaChi.$invalid" type="submit" class="btn btn-primary">
                        Đăng kí
                    </button>
                    <button type="reset" class="btn">Làm lại</button>
                </div>
            </form>
        </div>
        <!-- end: Content -->
    </div>
</div>
