﻿<div ng-controller="updateProductController" class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="#/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                    <li><a href="#/manageaccounts"><i class="icon-group"></i><span class="hidden-tablet"> Quản lý tài khoản</span></a></li>
                    <li><a href="#/managedepartments"><i class="icon-th-list"></i><span class="hidden-tablet"> Quản lý Department</span></a></li>
                    <li><a href="#/managecategories"><i class="icon-list"></i><span class="hidden-tablet"> Quản lý Category</span></a></li>
                    <li class="active"><a href="#/manageproducts"><i class="icon-barcode"></i><span class="hidden-tablet"> Quản lý sản phẩm</span></a></li>
                    <li><a href="#/managebills"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Quản lý đơn đặt hàng</span></a></li>
                    <li><a href="#/managesupports"><i class="icon-envelope"></i><span class="hidden-tablet"> Quản lý phản hồi</span></a></li>
                    <li><a href="http://lengkeng.apphb.com/"><i class="icon-lock"></i><span class="hidden-tablet"> Trang khách hàng</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Trang chủ</a>
                    <i class="icon-angle-right"></i>
                    <a href="#/manageproducts">Quản lý sản phẩm</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a>{{message}}</a></li>
            </ul>
            <div class="row-fluid sortable ui-sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title="">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thông tin sản phẩm</h2>
                        <div class="box-icon">
                            <a href="#/registeraccount" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" ng-submit="submit()" name="updateProductForm">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Tên sản phẩm</label>
                                    <div class="controls">
                                        <input type="text" name="tenSP" ng-model="TenSP" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="updateProductForm.tenSP.$dirty && updateProductForm.tenSP.$invalid">
                                            <span ng-show="updateProductForm.tenSP.$error.required">Vui lòng nhập tên sản phẩm.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="selectError3">Loại sản phẩm</label>
                                    <div class="controls">
                                        <select id="selectError3" ng-options="category.CNAME for category in listCategories" name="loaiSP" ng-model="LoaiSP"></select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Giá</label>
                                    <div class="controls">
                                        <input type="number" name="giaSP" ng-model="GiaSP" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="updateProductForm.giaSP.$dirty && updateProductForm.giaSP.$invalid">
                                            <span ng-show="updateProductForm.giaSP.$error.required">Vui lòng nhập giá sản phẩm.</span>
                                            <span ng-show="updateProductForm.giaSP.$error.number">Giá sản phẩm phải là số.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Mùi vị</label>
                                    <div class="controls">
                                        <input type="text" name="muiVi" ng-model="MuiVi" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="updateProductForm.muiVi.$dirty && updateProductForm.muiVi.$invalid">
                                            <span ng-show="updateProductForm.muiVi.$error.required">Vui lòng nhập mùi vị.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="fileInput">Hình ảnh</label>
                                    <div class="controls">
                                        <div class="uploader" id="uniform-fileInput">
                                            <input id="imageUploadForm" type="file" name="hinhAnhSP" multiple="multiple" ng-file-select="onFileSelect($files)" accept=".jpg,.png,.gif,.jpeg">
                                            <script>
                                                $(document).ready(function () {
                                                    $("#imageUploadForm").change(function () {
                                                        var formData = new FormData();
                                                        var totalFiles = document.getElementById("imageUploadForm").files.length;
                                                        for (var i = 0; i < totalFiles; i++) {
                                                            var file = document.getElementById("imageUploadForm").files[i];

                                                            formData.append("imageUploadForm", file);
                                                        }
                                                        $.ajax({
                                                            type: "POST",
                                                            url: '/Admin/Upload',
                                                            data: formData,
                                                            dataType: 'json',
                                                            contentType: false,
                                                            processData: false,
                                                            success: function (response) {
                                                                alert('success!');
                                                            },
                                                            error: function (error) {
                                                                alert("error");
                                                            }
                                                        });
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Tình trạng</label>
                                    <div class="controls">
                                        <input type="text" name="tinhTrang" ng-model="TinhTrang" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="updateProductForm.tinhTrang.$dirty && updateProductForm.tinhTrang.$invalid">
                                            <span ng-show="updateProductForm.tinhTrang.$error.required">Vui lòng nhập tình trạng.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">Mô tả</label>
                                    <div class="controls">
                                        <input type="text" name="moTa" ng-model="MoTa" required>
                                        <span class="help-inline" style="color:#b94a48" ng-show="updateProductForm.moTa.$dirty && updateProductForm.moTa.$invalid">
                                            <span ng-show="updateProductForm.moTa.$error.required">Vui lòng nhập mô tả.</span>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <button ng-disabled="updateProductForm.tenSP.$dirty && updateProductForm.tenSP.$invalid || updateProductForm.giaSP.$dirty && updateProductForm.giaSP.$invalid
                                        || updateProductForm.muiVi.$dirty && updateProductForm.muiVi.$invalid || updateProductForm.tinhTrang.$dirty && updateProductForm.tinhTrang.$invalid
                                        || updateProductForm.moTa.$dirty && updateProductForm.moTa.$invalid" type="submit" class="btn btn-primary">
                                    Cập nhật
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Content -->
    </div>
</div>
