﻿@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_fullsize">
    <img id="info_img" src="~/Content/LengKeng_themes/imgs/ice-cream.jpg">
    <p id="content_information">
        Leng keng, tiếng chuông quen thuộc đối với nhiều thế hệ, đặc biệt thế hệ 8x, 9x.
        <br>
        Leng keng, tiếng chuông báo hiệu cho một món ăn ưa thích của tất cả mọi người, ở mọi lứa tuổi.
        <br>
        Leng keng, leng keng, leng keng...
        <br>
        Với hàng nghìn hương vị kem của nhiều hãng sản xuất, đến với LengKeng, bạn như bước vào một thế giới hoàn toàn khác, một vương quốc của kem.
        <br>
        LengKeng - Ăn, ăn nữa, ăn mãi!
    </p>
</div>
