﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using LengKeng.Models
@using PagedList.Mvc;
@using PagedList;


@Html.Partial("PartialSidebar")


<div id="content">
    <span id="index_content_title">@ViewBag.viewtitle</span>
    @{
        var listPro = (PagedList<PRODUCTS>)ViewData["listProduct"];
    }

    @foreach (PRODUCTS temp in listPro)
    {


        <div class="index_content_box">
            <a href="@Url.Action("detailProduct/" + @temp.PID, "Product")">
                <img src="@Url.Content(@temp.PIMG)" alt="@temp.PNAME">
            </a>
            <div class="index_content_pname">@temp.PNAME.Substring(0, Math.Min(30, @temp.PNAME.Length))</div>
            <div class="index_content_pprice">Giá: @temp.PCOST Vnđ</div>
            <div class="index_content_pdecription">@temp.PSAVOUR.Substring(0, Math.Min(35, @temp.PSAVOUR.Length)) ...</div>
            <div class="index_content_addtocart">
                <a onclick="addToCart(@temp.PID)">
                    <img src="~/Content/LengKeng_themes/imgs/shopping_cart.png" alt="icon cart">
                </a>
            </div>
            <div class="index_content_pdetail">
                <a href="@Url.Action("detailProduct/" + @temp.PID, "Product")">Chi tiết</a>
            </div>

        </div>
    }
    <div style="clear:left">
        @Html.PagedListPager(listPro, page => Url.Action("Search", new { txtsearch = ViewBag.txtsearch, page = page }))
        <center>Page @(listPro.PageCount < listPro.PageNumber ? 0 : listPro.PageNumber)/ @listPro.PageCount</center>
    </div>

</div>

<script>
    function addToCart(id) {
        $.ajax({
            url: '@Url.Action("addShopping", "Accounts")',
            type: 'GET',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: { id: id },
            success: function (data) {
                document.getElementById("spnCart").innerHTML = data;
                $(".carteffect").fadeOut(500, function () {
                    $(".carteffect").css("color", "#008080").fadeIn(300, function () {
                        $(".carteffect").css("color", "#fff").fadeIn();
                    });

                });
            },
            error: function () {
                alert('đã có lỗi xảy ra. Vui lòng thử lại sau.');
            }
        });
    }
</script>
